@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

.slotmachin {
  text-align: center;
  background-color: #ffffffd9;
  border-radius: 5px;
  text-transform: inherit;
}
.slotmachin span {
  font-weight: bold;
  font-family: "Cinzel", serif;
}
.slotmachin h2 {
  font-weight: normal;
  font-family: "Cinzel", serif;
  margin-bottom: 0px;
}
.slot_inner {
  width: 40%;
  height: 120px;
  background-color: white;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}
.slot_inner h1 {
  margin-top: 3px;
}
.slot_container {
  height: 510px;
  background-color: teal;
  display: flex;
  flex-direction: column;
}
